

.detailTitleWrapper {
    padding: 24px;
}

h3 {
    margin: 0;
}

.subtitleBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
}

.subtitle {
    display: inline-flex;
    flex-wrap: wrap;
}

.subtitleItem {
    display: inline-flex;
}

.chip{
    margin-top: 12px;
    display: inline-flex;
    flex-direction: row;
    background-color: #dddddd;
    border: none;
    cursor: default;
    height: 36px;
    outline: none;
    padding: 0;
    font-size: 14px;
    /* font-color: #333333; */
    font-family:"Open Sans", sans-serif;
    white-space: nowrap;
    align-items: center;
    border-radius: 16px;
    vertical-align: middle;
    text-decoration: none;
    justify-content: center;
}

.chip-content{
    cursor: inherit;
    display: flex;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
}

p {
    font-size: 1rem;
}

.roleContainer {
    display: block;
}

.btnBack {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 12px;
  }

  .btnBack:hover {
    background-color: RoyalBlue;
  }