.movieListRoot {
    width: 100%;
}

.searchContainer {
    padding: 24px;
    display: flex;
    justify-content: center;
}

.inputSearchFullWidth {
    width: 350px;
    position: relative;
    display: inline-block;
    
}
@media screen and (max-width: 460px) {
    .inputSearchFullWidth {
        width: 100%;
        padding: 0px 16px;
    }
}

.movieListResultContainer {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.itemResultContainer {
    margin: 16px 8px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.linkTitle {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.posterContainer {
    width: 200px;
    height: 300px;
}
.posterMovieListResult {
    min-height: 100%;
    max-height: 100%;
    min-width: 200px;
    max-width: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.posterMovieListResult:hover {
    cursor: pointer;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1300;
}

.moodalContent {
    padding: 24px;
}

.no-suggestions {
    color: #999;
    padding: 0.5rem;
    position: absolute;
  }
  
  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    /* max-height: 143px; */
    overflow-y: auto;
    padding-left: 0;
    width: 350px;
    background-color: white;
    position: absolute;
  }

  @media screen and (max-width: 460px) {
    .suggestions {
        /* width: 80%; */
    }
}
  
  .suggestions li {
    padding: 0.5rem;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: #008f68;
    color: #fae042;
    cursor: pointer;
    font-weight: 700;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }


  /* AutoComplete2 */
  * {
    box-sizing: border-box;
  }
  
  body {
    font: 16px Arial;  
  }
  
  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
    border-color: #999;
  }