.movieListRoot {
    width: 100%;
}

.searchContainer {
    padding: 24px;
    display: flex;
    justify-content: center;
}

.inputSearchFullWidth {
    width: 350px;
}

.movieListResultContainer {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.itemResultContainer {
    margin: 8px 0px;
}

.posterMovieListResult {
    height: 112px;
    width: auto;
    object-fit: cover;
}

.posterMovieListResult:hover {
    cursor: pointer;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1300;
}

.moodalContent {
    padding: 24px;
}

.no-suggestions {
    color: #999;
    padding: 0.5rem;
    position: absolute;
  }
  
  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: 350px;
    background-color: white;
    position: absolute;
  }
  
  .suggestions li {
    padding: 0.5rem;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: #008f68;
    color: #fae042;
    cursor: pointer;
    font-weight: 700;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }